{:allowed-branchname-matches ["main"]
 :allowed-filename-matches ["(?i)powerapps-docs/(?:(?!developer/data-platform/reference/entities))"]
 :use-skip-label true
 :targets
 {
     :scores
     {
         :qualityscore 80
     }
 } 
 :guidance-profile "66710a49-7773-43f4-b6d8-66b63b5e431f" ;; testing March 2023 updated guidelines - BAG
 :acrolinx-check-settings
 {
  "languageId" "en"
  "ruleSetName" "Standard"
  "requestedFlagTypes" ["SPELLING" "GRAMMAR" "STYLE"
                        "TERMINOLOGY_DEPRECATED"
                        "TERMINOLOGY_VALID"
                        "VOICE_GUIDANCE"
                        ]
  "termSetNames" ["BAG" "Microsoft" "Products"]
 }
 
 :template-header
 "
## Acrolinx score
 
**A minimum total score of 80 is required. The total score is an average of the subscores.**
Select **Total score** to review the Acrolinx scorecard for your article. Try to increase your individual scores, ex. Correctness. Your article will be clearer and more consistent with Microsoft standards.
 
| Article | **Total score**<br />**Required: 80** | Word and phrases<br />(Brand, terms)<br />Preferred: 100 | Correctness<br />(Spelling, grammar)<br />Preferred: 100 | Clarity<br />(Readability)<br />Preferred: 80 |
|---------|:------------------------------------:|:--------------------------------------------------------:|:--------------------------------------------------------:|:---------------------------------------------:|
"

 :template-change
 "| ${s/status} ${s/file} | [${acrolinx/qualityscore}](${acrolinx/scorecard}) | ${acrolinx/scores/words_and_phrases}  | ${acrolinx/scores/correctness}  | ${acrolinx/scores/clarity}  |
"
}
