log/
obj/
_site/
.optemp/
_themes*/
_repo.*/

.openpublishing.buildcore.ps1
settings.json

# Folder config file
[Dd]esktop.ini
/.vs/slnx.sqlite
/.vs/powerapps-docs-pr/v16/.suo
/.vs/VSWorkspaceState.json
