log/
obj/
_site/
.optemp/
_themes*/
_repo.*/

.openpublishing.buildcore.ps1
settings.json
.DS_Store

# Folder config file
[Dd]esktop.ini
/.vs/slnx.sqlite
/.vs/powerapps-docs-pr/v16/.suo
/.vs/VSWorkspaceState.json
powerapps-docs/.vs/powerapps-docs/v15/.suo
powerapps-docs/.vs/ProjectSettings.json
powerapps-docs/.vs/slnx.sqlite
powerapps-docs/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
powerapps-docs/teams/media/how-to-architecture/Thumbs.db
powerapps-docs/teams/media/milestones-broad-distribution/Thumbs.db
