log/
obj/
_site/
.optemp/
_themes*/
_repo.*/

.openpublishing.buildcore.ps1

# Folder config file
[Dd]esktop.ini

# Visual Studio #
.settings/
.vs/
/app.js
*.suo
*.user
.ntvs_analysis.*
.njsproj
*.etl
*.etl.tmp
*.vspx
*.njsperf
*.sdf
*.opensdf
bin/*.dll

# VS Code files
.vscode/*
