# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @tapanm-msft
/powerapps-docs/cards                               @tapanm-msft @mduelae
/powerapps-docs/developer/                          @PHecke @tapanm-msft @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @tapanm-msft
/powerapps-docs/developer/data-platform/cli         @JimDaly @tapanm-msft
/powerapps-docs/developer/model-driven-apps         @JimDaly @tapanm-msft
/powerapps-docs/guidance                            @tapanm-msft @mduelae @Mattp123
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @mduelae
/powerapps-docs/maker/data-platform                 @Mattp123 @tapanm-msft
/powerapps-docs/maker/model-driven-apps             @Mattp123 @tapanm-msft
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @mduelae
/powerapps-docs/maker/portals                       @tapanm-msft @danamartens
/powerapps-docs/mobile                              @tapanm-msft @shwetamurkute
/powerapps-docs/sample-apps                         @tapanm-msft @mduelae
/powerapps-docs/user                                @shwetamurkute @tapanm-msft
/powerapps-docs/teams                               @tapanm-msft @mduelae